{% extends "admin_navbar.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Yönetici Paneli</h2>
            <p>Tüm kullanıcıların sonuçlarını bu panelde görebilirsiniz</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Kullanıcılar</h5>
                    <p class="card-text">Kullanıcıların kayıt işlemleri.</p>
                    <a href="{% url 'user_management' %}" class="btn btn-primary">Kullanıcılar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Modül sonuçları</h5>
                    <p class="card-text">Kullanıcıların modül sonuçları</p>
                    <a href="{% url 'module_results' %}" class="btn btn-primary">Modül sonuçları</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Ses ve videoların yenilenmesi</h5>
                    <p class="card-text">Modüllerin ses ve videoları</p>
                    <a href="{% url 'audio_and_video_change' %}" class="btn btn-primary">Ses ve video</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
